<ion-view view-title="Subscribed" name="subscribed-view">
    <ion-content class="padding">
        <div class="bar bar-header bar-balanced">
            <h1 class="title">Signed up</h1>
        </div>
        <div class="card">
            <div class="item item-divider">
                Welcome to BetterTutors
            </div>
            <div class="item item-text-wrap">
                Thanks for signing up. We'll be in touch when we're ready to start connecting you.
            </div>
            <div class="item item-divider">
            </div>
        </div>
    </ion-content>
</ion-view>
